streamlit
requests
langchain==0.1.15
langchain-core==0.1.41
langchain-community==0.0.32
langchain-text-splitters==0.0.2
langsmith==0.1.147
packaging==23.2
tenacity==8.5.0
aiohttp
PyYAML
SQLAlchemy
async-timeout
dataclasses-json
jsonpatch
